{% extends "base.html" %}

{% block content %}

<div class="auth-container">
    <div class="card">
        <h2 class="auth-title">📝 Criar Conta</h2>

        <form method="POST">
            <input type="text" name="name" placeholder="Seu nome" required>
            <input type="email" name="email" placeholder="Seu e-mail" required>
            <input type="password" name="password" placeholder="Sua senha" required>

            <button type="submit" class="btn-primary">Cadastrar</button>
        </form>

        <div class="auth-link">
            Já tem conta? <a href="/login">Entrar</a>
        </div>
    </div>
</div>

{% endblock %}